@using PSSharp.Models
@model PSSharp.Models.Suggestion

@{
    ViewBag.Title = "Просмотр инициативы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<script type="text/javascript">
    $(function () {
        $("form").validate();
    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Suggestion</legend>

        @Html.HiddenFor(model => model.SuggestionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.SuggestionId)
        </div>
        <div class="">
            @Html.DisplayFor(model => model.SuggestionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @EnumExtension.GetDescription(Model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Problem)
        </div>
        <div class="editor-field">
            @if (Model.NeedImrovement())
            {
                <div class="editor-label">
                    @Html.TextAreaFor(model => model.Problem, new { @class = "required" }) 
                    @Html.ValidationMessageFor(model => model.Problem)
                </div>
            }
            else
            {
                <div class="editor-field">
                    @Html.DisplayTextFor(model => model.Problem)
                </div>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Solution)
        </div>
        <div class="editor-field">
            @if (Model.NeedImrovement())
            {
                <div class="editor-label">
                    @Html.TextAreaFor(model => model.Solution, new { @class = "required" }) 
                    @Html.ValidationMessageFor(model => model.Solution)
                </div>
            }
            else
            {
                <div class="editor-field">
                    @Html.DisplayTextFor(model => model.Solution)
                </div>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Result)
        </div>
        <div class="editor-field">
            @if (Model.NeedImrovement())
            {
                <div class="editor-label">
                    @Html.TextAreaFor(model => model.Result, new { @class = "required" }) 
                </div>
            }
            else
            {
                <div class="editor-field">
                    @Html.DisplayTextFor(model => model.Result)
                </div>
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfReceipt)
        </div>
        <div class="editor-field">
            @Model.DateOfReceiptView()
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfConsideration)
        </div>
        <div class="editor-field">
            @Model.DateOfConsiderationView()
        </div>

        @if (Model.NeedImrovement())
        {
            <p>
                <input type="submit" value="Отправить" />
            </p>
        }
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
