@model PSSharp.Models.Suggestion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Suggestion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Problem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Problem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Solution)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solution)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Result)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Result)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfReceipt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfReceipt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfConsideration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfConsideration)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SuggestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
