@model PSSharp.Models.Direction

@{
    ViewBag.Title = "Создание направления";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Direction</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepartmentId)
            @Html.ValidationMessageFor(model => model.DepartmentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Conclusion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Conclusion)
            @Html.ValidationMessageFor(model => model.Conclusion)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        
        <input type="hidden" value="@ViewBag.SuggestionId" id="SuggestionId" name="SuggestionId"/>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
